@import 'ant-design-vue/dist/reset.css';
@import 'layouts';

.ant-table-actions {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  .ant-divider-vertical {
    margin: 0;
  }
}

.ant-tabs-nav .ant-tabs-create-button {
  margin-left: 16px;
}